<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.minedme.social.app.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.minedme.social.app.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.minedme.social.app.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.minedme.social.app.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>com.minedme.social.app.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.minedme.social.app.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserActivityScore</servlet-name>
		<servlet-class>com.minedme.social.app.admin.UserActivityScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserScore</servlet-name>
		<servlet-class>com.minedme.social.app.admin.UserScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserNotify</servlet-name>
		<servlet-class>com.minedme.social.app.admin.UserNotificationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSnapshot</servlet-name>
		<servlet-class>com.minedme.social.app.admin.UserActivitySnapshotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoursquareConnect</servlet-name>
		<servlet-class>com.minedme.social.foursquare.oauth.FoursquareConnectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoursquareCallback</servlet-name>
		<servlet-class>com.minedme.social.foursquare.oauth.FoursquareCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoursquareCollect</servlet-name>
		<servlet-class>com.minedme.social.foursquare.FoursquareCollectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterConnect</servlet-name>
		<servlet-class>com.minedme.social.twitter.oauth.TwitterConnectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterCallback</servlet-name>
		<servlet-class>com.minedme.social.twitter.oauth.TwitterCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterCollect</servlet-name>
		<servlet-class>com.minedme.social.twitter.TwitterCollectServlet</servlet-class>
	</servlet> 
	<servlet>
		<servlet-name>LinkedInConnect</servlet-name>
		<servlet-class>com.minedme.social.linkedin.oauth.LinkedInConnectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LinkedInCallback</servlet-name>
		<servlet-class>com.minedme.social.linkedin.oauth.LinkedInCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LinkedInCollect</servlet-name>
		<servlet-class>com.minedme.social.linkedin.LinkedInCollectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacebookConnect</servlet-name>
		<servlet-class>com.minedme.social.facebook.oauth.FacebookConnectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacebookCallback</servlet-name>
		<servlet-class>com.minedme.social.facebook.oauth.FacebookCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FacebookCollect</servlet-name>
		<servlet-class>com.minedme.social.facebook.FacebookCollectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Visitor</servlet-name>
		<servlet-class>com.minedme.social.app.VisitorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Game</servlet-name>
		<servlet-class>com.minedme.social.app.GameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mine</servlet-name>
		<servlet-class>com.minedme.social.app.MineOverviewServlet</servlet-class>
	</servlet>
	
<!--  Need to throttle this...

	<servlet>
		<servlet-name>ActivityApi</servlet-name>
		<servlet-class>com.minedme.social.api.ActivityApiServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ActivityApi</servlet-name>
		<url-pattern>/api/social/activity/v100/*</url-pattern>
	</servlet-mapping>
	
 -->	
 	
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Visitor</servlet-name>
		<url-pattern>/prospect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Game</servlet-name>
		<url-pattern>/game</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mine</servlet-name>
		<url-pattern>/mine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserActivityScore</servlet-name>
		<url-pattern>/admin/userActivityScore</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>UserScore</servlet-name>
		<url-pattern>/admin/userScore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserNotify</servlet-name>
		<url-pattern>/admin/userNotify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSnapshot</servlet-name>
		<url-pattern>/admin/userSnapshot</url-pattern>
	</servlet-mapping>			 
	<servlet-mapping>
		<servlet-name>FoursquareConnect</servlet-name>
		<url-pattern>/fsConnect</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>FoursquareCallback</servlet-name>
		<url-pattern>/fsCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoursquareCollect</servlet-name>
		<url-pattern>/admin/fsCollect</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>TwitterConnect</servlet-name>
		<url-pattern>/twConnect</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>TwitterCallback</servlet-name>
		<url-pattern>/twCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TwitterCollect</servlet-name>
		<url-pattern>/admin/twCollect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LinkedInConnect</servlet-name>
		<url-pattern>/liConnect</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>LinkedInCallback</servlet-name>
		<url-pattern>/liCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LinkedInCollect</servlet-name>
		<url-pattern>/admin/liCollect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacebookConnect</servlet-name>
		<url-pattern>/fbConnect</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>FacebookCallback</servlet-name>
		<url-pattern>/fbCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacebookCollect</servlet-name>
		<url-pattern>/admin/fbCollect</url-pattern>
	</servlet-mapping>
			
 <!-- 
	<security-constraint>
        <web-resource-collection>
         <web-resource-name>SSL Protected Area</web-resource-name> 
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
  -->        
	 <security-constraint>
        <web-resource-collection>
            <web-resource-name>ADMIN Protected Area</web-resource-name> 
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
     
    <welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>
